<h1>Reset your password.</h1>

<%= form_for @hacker, :url => reset_password_url do |f| %>
<%= render "shared/error_messages", :object => f.object %>
<p>
<%= f.label :password %><br />
<%= f.password_field :password %>
</p>
<p>
<%= f.label :password_confirmation %><br />
<%= f.password_field :password_confirmation %>
</p>
<br />
<p>
<%= f.submit "Reset Password and Log in" %>
</p>
<% end %>
