<h2>Welcome To LeedsHack 2 - <a href='http://live.hackinbox.org'>View Live Dashboard</a></h2>
	<p>Welcome to the LeedsHack Hackerboard, we are testing a new way of running a hack day (don't get me wrong it could all go tits up) from here you can talk to the other hackers, join and create teams and do lots more on the day, for now we just want to get as many people active and in teams as soon as possible :) </p>
	<%= simple_form_for @micropost do |f| %>
		<%= render 'shared/error_messages', :object => f.object %>
		<%= f.input :content, :label => "Make a Post", :input_html => {:style => "width:98%;height:70px;font-size:15px;"} %>
		<%= f.button :submit, :value => "Post"%>
	<% end %>
	
	<h3>Ten Latest Posts</h3>
	<% if @posts.any? %>
	<%= paginate @posts %>
	<table cellpadding="0" cellspacing="0" class="tablesorter" id="myTable">
	<% @posts.each do |post|%>
		<tr>
			<td width="25%">
				<%= gravatar_for(post.hacker)%><br />
				<%= post.hacker.name%><br />
				Posted <%= time_ago_in_words(post.created_at)%> ago.
			</td>
			<td style ="width:75%;font-size:15px;">
				<%= post.content %>
			</td>
		</tr>
	<% end %>
	</table>
	<%= paginate @posts %>
	<% end %>
		